<div class="container">
<h3>Confirm Post</h3><br>
<%= form_for @post, :url =>{:action => "create"} do %>
<div class="form-group">
<label for = "post_title">Title:</label><br>
<%= text_field 'post', 'title' , class:'form-control' %>
</div><br>
<div class="form-group">
<label for = "post_description">Description:</label><br/>
<%= text_area 'post', 'description' , class:'form-control' %>
</div>
<br>
<%= submit_tag "Confirm", class:'btn btn-primary' %>
<%= submit_tag "Clear", class:'btn btn-secondary' %>
<% end -%><br>
<%= link_to 'Back', {:action => 'list'} %>
</div>