<h3>Post List</h3>
<div style="float:right">
<%= form_tag :action => 'search' do %>
  <label>Keyword :</label>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", class:'btn btn-primary' %>
  <%= link_to 'Create', posts_new_path, class:"btn btn-info" %>
  <%= link_to 'Upload', posts_upload_path, class:"btn btn-warning"%>
  <%= link_to 'Download', posts_export_path(format: "xls"), class:"btn btn-success"%>
  </div>
<br/><br>
<table class="table table-hover table-bordered">
  <tr class="table-info">
  <th>Post Title</th>
  <th>Post Description</th>
  <th>Posted User</th>
  <th>Posted Date</th>
  <th>Operation</th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
  <td><%= link_to post.title, {:action => "show", :id => post.id} %></td>
  <td><%= post.description %></td>
  <td><%= post.user.name if post.user %></td>
  <td><%= post.created_at.strftime("%Y/%m/%d") %></td>
  <td>
  <%= link_to 'Edit', {:action => "edit", :id => post.id}, class:"btn btn-success" %>
  <%= link_to 'Delete', {:action => 'delete', :id => post.id}, data:{confirm: "Are you sure to delete?" }, class:"btn btn-danger" %>
  </td>
  </tr>
  <% end %>
  <% end %>
</table>
<div style="text-align:right">
<%= will_paginate @posts, renderer: BootstrapPagination::Rails  %>
</div>

