<% if @post.errors.any? %>
<ul>
<% @post.errors.full_messages.each do |msg| %>
<li><%= msg %>
<% end %>
</ul>
<% end %>
<div class="container">
<h3>Create Post</h3><br>
<%= form_for @post, :url =>{:action => "confirm"} do %>
<div class="form-group">
<label for = "post_title">Title:</label><br>
<%= text_field 'post', 'title' , class:'form-control' %>
</div><br>
<div class="form-group">
<label for = "post_description">Description:</label><br/>
<%= text_area 'post', 'description' , class:'form-control' %>
</div>
<br>
<%= submit_tag "Create", class:'btn btn-primary' %>
<input type="reset" class="btn btn-secondary" name="Clear" value="Clear">
<% end -%><br>
<%= link_to 'Back', {:action => 'list'} %>
</div>

